chromadb
cryptography
datasets
evaluate
fastapi
gradio
ipywidgets
jupyter-book
jupyterlab
langchain
lightning
livelossplot
loguru
matplotlib
nltk
numpy
openai
opencv-python-headless
openpyxl
pandas
pypdf
requests
rich
scikit-learn
sentence_transformers
spacy
tabulate
tiktoken
torch
torchvision
tqdm
transformers
uvicorn[standard]
