chromadb
cryptography
datasets
evaluate
fastapi
gradio
ipywidgets
jupyter-book
jupyter_ai
jupyterlab
jupyterlab-lsp
jupytext
langchain
lightning
livelossplot
loguru
matplotlib
nltk
numba
numpy
openai
opencv-python-headless
openpyxl
pandas
pypdf
requests
rich
scikit-learn
sentence_transformers
spacy
tabulate
taichi
tiktoken
torch
torchvision
tqdm
transformers
uvicorn[standard]
voila
